.clearfix::after 
{
    content: "";
    clear: both;
    display: table;
}
/* ---------------------- header --------------------- */
header
{
	padding: 30px 30px 0 0;
	border: 1px solid red;
	background: url(../img/header_bg_transparent.png) no-repeat top right;
}
div, ul, p
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.header_logo
{
	border: 1px solid blue;
	display: flex;
}
.header_logo__img, .header_logo__text
{
	display: inline-block;
	border: 1px solid blue;
}
.header_logo__text
{
	font-size: 13px;
	font-weight: bold;
}
nav
{
	border: 1px solid blue;
	display: inline-block;
	min-height: 50px;
}
nav ul
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
nav ul li
{
	float: left;
	margin-left: 20px;	
	display: block;
}
nav ul li a
{
	color: #000;
	font-size: 16px;
}
nav ul li a:hover
{
	text-decoration: none;
}
.header_topline
{
	margin-bottom: 48px;
}
.header_contact
{
	display: flex;
}
.header_contacts__but
{
	border: 1px solid green;
}
.header_contacts__but a
{
	border: 1px solid yellow;
	border-radius: 10px;
	color: #fff;
	padding: 10px 20px;
	display: inline-block;
	font-size: 16px;
}
.header_contacts__but a:hover
{
	text-decoration: none;
	border: 1px solid #fff;
}
.header_contacts__left
{
	color: #fff;
}
.header_contacts__left img
{
	margin-left: 10px;
}
.soc_item
{
	display: inline-block;
	margin-left: 10px;
}
.header_text__title
{
	margin-bottom: 30px;
}
.header_text__title h1
{
	font-size: 42px;
	line-height: 54px;
}
.header_text__title h1 span
{
	color: #00A78E;
}
.header_text__list
{
	margin-bottom: 60px;
}
.header_text__list ul
{
	list-style-type: none;
}
.header_text__list ul li
{
	font-size: 26px;
	margin-bottom: 15px;
}
.header_text__list ul li img
{
	margin-right: 10px;
}
.header_text__but a
{
	background: #00A78E;
	color: #fff;
	padding: 10px 15px;
	display: inline-block;
	border-radius: 5px;
	text-decoration: none;
}